.logo-size{
    width: 150px;
    height: 48px; 
}

.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none; /* Remove the box shadow if any */
  }

.nav-items{
    display: flex;
    gap: 15px;
}

.btn-nav{
    background-color: white;
    color: black;
    border-radius: 16px;
    transition-duration: 0.6s;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.btn-nav:hover{
    background-color: black;
    color: white;
}